<ul class="nav nav-tabs">
    <li class="nav-item col-sm-4">
        <a routerLink=""
        routerLinkActive="router-link-active"
        class="nav-link">
        <span>Atributos plantilla</span>
       </a>
    </li>
    <li class="nav-item col-sm-8">
      <a routerLink="criterio"
      routerLinkActive="router-link-active"
      class="nav-link">
      <span>Criterio valoracion</span>
     </a>
    </li>
  </ul>
  <br>
  <div id="plantilla" class="d-none d-sm-none d-md-block">
     <h3>Lista de criterios</h3>
     <br>
     <div>
        <a>no Hay criterios, por favor agregue nuevos elementos.</a>
     </div>
     <ul class="nav navbar-nav" style="float: right">
        <li class="dropdown" ><a class="dropdown-toggle fas fa-align-justify" data-toggle="dropdown" > <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
          </li>
     </ul>
  </div>
