<aside>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a routerLink=""
              routerLinkActive="router-link-active"
              class="nav-link">
              <span>Plantilla</span>
             </a>
            </li>
            <li class="nav-item">
              <a routerLink="not-found"
              routerLinkActive="router-link-active"
              class="nav-link">
              <span>Lista de chequeo</span>
             </a>
            </li>
            <li class="nav-item">
              <a routerLink="now"
              routerLinkActive="router-link-active"
              class="nav-link">
              <span>Reporte</span>
             </a>
            </li>
          </ul>
</aside>
