<ul class="nav nav-tabs">
    <li class="nav-item col-sm-4">
        <a routerLink=""
        routerLinkActive="router-link-active"
        class="nav-link">
        <span>Atributos plantilla</span>
       </a>
    </li>
    <li class="nav-item col-sm-8">
      <a routerLink="criterio"
      routerLinkActive="router-link-active"
      class="nav-link">
      <span>Criterio valoracion</span>
     </a>
    </li>
  </ul>
  <br>
  <div id="plantilla" class="d-none d-sm-none d-md-block">
      <div class="form-group">
          <input type="number" class="form-control form-control-sm" placeholder="Raiz consecutivo" name="consecutivo">
      </div>
      <div class="form-group">
          <input type="text" class="form-control form-control-sm" placeholder="*Nombre plantilla" name="nombre">
      </div>
      <div class="form-group">
          <label for="comment">Descripción plantilla:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <div class="form-group">
          <input type="number" class="form-control form-control-sm" placeholder="*umbral  de valoracion mínimo requerido (%)" name="umbral" >
          <br>
          <button type="button" class="btn active"  >Cancelar</button>
          <button type="button" class="btn disabled" style="position: absolute; left: 80%;">Siguiente</button>
      </div>
  </div>


